.App {
  text-align: center;
  margin-top: 0px;
}

.App-header {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  background-color: #00bdaa;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

.SmallText {
  font-size: 10px;
}

.MediumText {
  font-size: 12px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  width: 95%;
  justify-content: start;
  max-width: 500px;
}
