.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.SmallText {
  font-size: 10px;
}

.rowContent {
  display: flex;
  justify-content: center;
}

.content {
  flex-direction: row;
}
